
body{
  background-color: darkblue; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

h1{
  font-size: 40px;
  color: white;
}

h2{
  font-size: 30px;
  color: white;
}

p{
  font-size: 20px;
  color: white;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 24px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 20px 10px 20px;
  border-top: none;
  border-color: transparent;
}

.grid-container{
  display: grid;
  gap: 10px; 
  background-color: transparent; 
}

.grid-container > div{ 
  background-color: transparent;  
}

@media (max-width: 769px){
  .grid-container-1 .grid-container-2{ 
    grid-template-columns: 100%;
    grid-template-rows: auto;  
  } 
}

@media (min-width: 1025px){
  .grid-container-1{
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }
  .grid-container-2{
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}

form{
  font-size: 30px;
  width: 400px; 
}